<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graffio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/fixedHeader.bootstrap4.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/no-more-tables.css">

</head>

<body>

    <div class="dashboard-main-wrapper">

        <div id="mainDashboard"></div>

        <div class="dashboard-wrapper">

            <div class="container-fluid dashboard-content ">

                <div id="mainDashboardHeader"></div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Lista de Tabelas de Preço Cadastradas
                                    <button id="btnPreRegisterPriceTable"
                                        class="btn btn-rounded btn-success floatingRightButton" data-toggle="modal"
                                        data-target="#registerPriceTableModal" data-backdrop="static">Adicionar
                                    </button>
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="no-more-tables">
                                    <table id="no-more-tables"
                                        class="table table-striped table-bordered table-condensed cf"
                                        style="width:100%">
                                        <thead class="cf">
                                            <tr>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>Período</th>
                                                <th>Valor</th>
                                                <th>Tabela Auxiliar</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody id="priceTableTableBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">

                <!-- Modal para Inserção de Usuários -->
                <div class="modal fade" id="registerPriceTableModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Insira as Informações da Nova Tabela</h4>
                            </div>
                            <div class="modal-body">
                                <form id="registerPriceTableForm">
                                    <div class="form-group">
                                        <label for="nome" class="col-form-label">Nome</label>
                                        <input id="nome" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="periodo" class="col-form-label">Período</label>
                                        <input id="periodo" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="valor" class="col-form-label">Valor</label>
                                        <input id="valor" type="number" class="form-control validationInput_Value">
                                    </div>
                                    <div class="form-group">
                                        <label for="tabela_aux" class="col-form-label">Tabela de Preço Auxiliar</label>
                                        <select id="tabela_aux" class="form-control">
                                            <option disabled selected>Selecione a Tabela de Preco Auxiliar</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAORegisterPriceTable" type="button"
                                    class="btn btn-rounded btn-success">Registrar</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal para Edição de Usuários -->
                <div class="modal fade" id="updatePriceTableModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Insira as Novas Informações da Tabela de Preço</h4>
                            </div>
                            <div class="modal-body">
                                <form id="updatePriceTableForm">
                                    <div class="form-group">
                                        <label for="id_tabela_precoUpd" class="col-form-label">ID</label>
                                        <input id="id_tabela_precoUpd" disabled type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="nomeUpd" class="col-form-label">Nome</label>
                                        <input id="nomeUpd" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="periodoUpd" class="col-form-label">Período</label>
                                        <input id="periodoUpd" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="valorUpd" class="col-form-label">Valor</label>
                                        <input id="valorUpd" type="number" class="form-control validationInput_Value">
                                    </div>
                                    <div class="form-group">
                                        <label for="tabela_auxUpd" class="col-form-label">Tabela de Preço
                                            Auxiliar</label>
                                        <select id="tabela_auxUpd" class="form-control">
                                            <option disabled selected>Selecione a Tabela de Preco Auxiliar</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAOUpdatePriceTable" type="button"
                                    class="btn btn-rounded btn-success">Alterar</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal para Exclusão de Usuários -->
                <div class="modal fade" id="deletePriceTableModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Você deseja mesmo excluir esta Tabela de Preço?</h4>
                                <h5 id="nomeDel" class="centeredX"></h5>
                                <input id="id_priceTableDel" class="invisible" />
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAODeletePriceTable" type="button"
                                    class="btn btn-rounded btn-success">Sim</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Não</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>
    <script src="../assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="../assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="../assets/vendor/charts/c3charts/C3chartjs.js"></script>

    <!-- Graffio JS que contém os Input Validations-->
    <script src="js/system/validationInput.js"></script>
    <script src="js/jquery.mask.js"></script>

    <!-- Graffio JS que contém os HTML Sections-->
    <script src="js/htmlSections/dashboardHeader.js"></script>
    <script src="js/htmlSections/dashboardSidebar.js"></script>
    <script src="js/htmlSections/header.js"></script>

    <!-- Graffio JS que contém o BusinessJS-->
    <script src="js/config/priceTable.js"></script>

    <!-- Graffio JS que contém a Autenticação-->
    <script src="js/system/authenticationLogout.js"></script>

    <!-- Graffio JS que contém os Métodos de Requisição-->
    <script src="js/system/httpRequisitions.js"></script>

    <!-- Graffio JS que contém os Métodos de Requisição-->
    <script src="js/system/serverConfig.js"></script>

    <script>if (window.module) module = window.module;</script>

</body>

<script>

    window.onload = function () {

        var loggedUserNome = localStorage.getItem("loggedUserNome");
        var loggedUserCargo = localStorage.getItem("loggedUserCargo");
        var token = localStorage.getItem("token");

        var mainDashboard = document.getElementById("mainDashboard");
        var mainDashboardHeader = document.getElementById("mainDashboardHeader");

        setDashboardHeader(mainDashboard);
        setDashboardSidebar(mainDashboard);
        setPageHeader(mainDashboardHeader, "Configuração de Tabelas de Preço");

        document.getElementById("loggedUserNome").innerHTML = loggedUserNome;
        document.getElementById("loggedUserCargo").innerHTML = loggedUserCargo;

        var select = document.getElementById('tabela_auxUpd');
        var select2 = document.getElementById('tabela_aux');
        var priceTableAuxs = httpGet(`http://${IP_DO_SERVIDOR}:3000/priceTableAux`);

        priceTableAuxs.forEach(element => {
            var item = document.createElement('option');
            var item2 = document.createElement('option');
            item.innerHTML = element.nome;
            item2.innerHTML = element.nome;
            item.value = element.id_tabela_preco_aux;
            item2.value = element.id_tabela_preco_aux;
            select.appendChild(item);
            select2.appendChild(item2);
        });

        DAOgetAllPriceTables();

    }

</script>

</html>