<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graffio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/fixedHeader.bootstrap4.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/no-more-tables.css">

</head>

<body>

    <div class="dashboard-main-wrapper">

        <div id="mainDashboard"></div>

        <div class="dashboard-wrapper">

            <div class="container-fluid dashboard-content ">

                <div id="mainDashboardHeader"></div>

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div id="courtyardWidgets" class="carousel-inner">
                    </div>
                </div>

                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        </ol>
                    </nav>
                </div>

            </div>

        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>
    <script src="../assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="../assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="../assets/vendor/charts/c3charts/C3chartjs.js"></script>

    <!-- Graffio JS que contém os HTML Sections-->
    <script src="js/htmlSections/dashboardHeader.js"></script>
    <script src="js/htmlSections/dashboardSidebar.js"></script>
    <script src="js/htmlSections/dashboardCourtyardWidgets.js"></script>
    <script src="js/htmlSections/header.js"></script>

    <!-- Graffio JS que contém o BusinessJS-->
    <script src="js/dashboards/dashboard_Courtyard.js"></script>

    <!-- Graffio JS que contém a Autenticação-->
    <script src="js/system/authenticationLogout.js"></script>

    <!-- Graffio JS que contém os Métodos de Requisição-->
    <script src="js/system/httpRequisitions.js"></script>

    <!-- Graffio JS que contém os Métodos de Requisição-->
    <script src="js/system/serverConfig.js"></script>

</body>

<script>

    window.onload = function () {

        var loggedUserNome = localStorage.getItem("loggedUserNome");
        var loggedUserCargo = localStorage.getItem("loggedUserCargo");
        var token = localStorage.getItem("token");

        var mainDashboard = document.getElementById("mainDashboard");
        var mainDashboardHeader = document.getElementById("mainDashboardHeader");
        var courtyardWidgets = document.getElementById('courtyardWidgets');

        setDashboardHeader(mainDashboard);
        setDashboardSidebar(mainDashboard);

        setPageHeader(mainDashboardHeader, "Dashboard de Pátios");

        document.getElementById("loggedUserNome").innerHTML = loggedUserNome;
        document.getElementById("loggedUserCargo").innerHTML = loggedUserCargo;

        DAOgetAllCourtyards(courtyardWidgets);

    }

</script>

</html>