<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graffio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/no-more-tables.css">

</head>

<body>

    <div class="dashboard-main-wrapper">

        <div id="mainDashboard"></div>

        <div class="dashboard-wrapper">

            <div class="container-fluid dashboard-content ">

                <div id="mainDashboardHeader"></div>

            </div>

        </div>

    </div>

    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>

    <!-- Graffio JS que contém os HTML Sections-->
    <script src="js/htmlSections/dashboardHeader.js"></script>
    <script src="js/htmlSections/dashboardSidebar.js"></script>
    <script src="js/htmlSections/header.js"></script>

    <!-- Graffio JS que contém o BusinessJS-->
    <script src="js/home.js"></script>

    <!-- Graffio JS que contém a Autenticação-->
    <script src="js/system/authenticationLogout.js"></script>

</body>

<script>

    window.onload = function () {

        var loggedUserNome = localStorage.getItem("loggedUserNome");
        var loggedUserCargo = localStorage.getItem("loggedUserCargo");
        var token = localStorage.getItem("token");

        var mainDashboard = document.getElementById("mainDashboard");
        var mainDashboardHeader = document.getElementById("mainDashboardHeader");

        setDashboardHeader(mainDashboard);
        setDashboardSidebar(mainDashboard);
        setPageHeader(mainDashboardHeader, "Home Page");

        document.getElementById("loggedUserNome").innerHTML = loggedUserNome;
        document.getElementById("loggedUserCargo").innerHTML = loggedUserCargo;

    }

</script>

</html>