<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graffio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/datatables/css/fixedHeader.bootstrap4.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/no-more-tables.css">

</head>

<body>

    <div class="dashboard-main-wrapper">

        <div id="mainDashboard"></div>

        <div class="dashboard-wrapper">

            <div class="container-fluid dashboard-content ">

                <div id="mainDashboardHeader"></div>

            </div>

            <div class="container">

                <!-- Modal para Edição de Usuários -->
                <div class="modal fade" id="updateAffiliateModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Insira as Novas Informações do Afiliado</h4>
                            </div>
                            <div class="modal-body">
                                <form id="updateAffiliateForm">
                                    <div class="form-group">
                                        <label for="id" class="col-form-label">ID</label>
                                        <input id="id_affiliateUpd" disabled type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="nomeUpd" class="col-form-label">Nome</label>
                                        <input id="nomeUpd" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="cnpjUpd" class="col-form-label">CNPJ</label>
                                        <input id="cnpjUpd" type="text" class="form-control">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAOUpdateAffiliate" type="button"
                                    class="btn btn-rounded btn-success">Alterar</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal para Inserção de Usuários -->
                <div class="modal fade" id="registerAffiliateModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Insira as Informações do Novo Afiliado</h4>
                            </div>
                            <div class="modal-body">
                                <form id="registerAffiliateForm">
                                    <div class="form-group">
                                        <label for="nome" class="col-form-label">Nome</label>
                                        <input id="nome" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="cnpj" class="col-form-label">CNPJ</label>
                                        <input id="cnpj" type="text" class="form-control">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAORegisterAffiliate" type="button"
                                    class="btn btn-rounded btn-success">Registrar</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal para Exclusão de Usuários -->
                <div class="modal fade" id="deleteAffiliateModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Você deseja mesmo excluir este Afiliado?</h4>
                                <h5 id="nomeDel" class="centeredX"></h5>
                                <input id="id_affiliateDel" class="invisible" />
                            </div>
                            <div class="modal-footer">
                                <button id="btnDAODeleteAffiliate" type="button"
                                    class="btn btn-rounded btn-success">Sim</button>
                                <button type="button" class="btn btn-rounded btn-danger"
                                    data-dismiss="modal">Não</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>
    <script src="../assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/vendor/datatables/js/data-table.js"></script>

    <!-- Graffio JS que contém os HTML Sections-->
    <script src="js/htmlSections/dashboardHeader.js"></script>
    <script src="js/htmlSections/dashboardSidebar.js"></script>
    <script src="js/htmlSections/header.js"></script>

    <!-- Graffio JS que contém o BusinessJS-->
    <script src="js/home.js"></script>

    <!-- Graffio JS que contém a Autenticação-->
    <script src="js/system/authenticationLogout.js"></script>

</body>

<script>

    window.onload = function () {

        var loggedUserNome = localStorage.getItem("loggedUserNome");
        var loggedUserCargo = localStorage.getItem("loggedUserCargo");
        var token = localStorage.getItem("token");

        var mainDashboard = document.getElementById("mainDashboard");
        var mainDashboardHeader = document.getElementById("mainDashboardHeader");

        setDashboardHeader(mainDashboard);
        setDashboardSidebar(mainDashboard);
        setPageHeader(mainDashboardHeader, "Home Page");

        document.getElementById("loggedUserNome").innerHTML = loggedUserNome;
        document.getElementById("loggedUserCargo").innerHTML = loggedUserCargo;

    }

</script>

</html>